/logs
/.mixin.out
/.probe
/.vscode
/cache
/coremods
/crash-reports
/ct_dumps
/data
/datapacks
/defaultconfigs
/dumps
/ESM
/fancymenu_data
/listcraft_global
/local
/logs
/minemenu
/modernfix
/mods
/mods_disabled
/mods_unpacked
/ntgl
/patchouli_books
/resourcepacks
/resources
/saves
/screenshots
/server-resource-packs
/shaderpacks
/simplebackups
/texturepacks
/xaero
/XaeroWaypoints_BACKUP240807
servers.dat
servers.dat_old
emi.json
patchouli_data.json
TrashSlotSaveState.json
usercache.json
usernamecache.json
authlib-injector.log
fabricloader.log
hs_err_pid39612.log
hs_err_pid50424.log
hs_err_pid50584.log
hs_err_pid55700.log
hs_err_pid39612.mdmp
hs_err_pid50424.mdmp
hs_err_pid50584.mdmp
hs_err_pid55700.mdmp
icon.png
rhino.local.properties
knownkeys.txt
options.txt
options_defaults.txt
/config/openloader/resources/resources.zip
/config/fancymenu/assets/mahj_1294853429_mainmenu.fma
/config/fancymenu/assets/mainaudio.wav
/config/fancymenu/slideshows
